// COLORS DARK MODE//
$backgroundColorDark: #242833;
$accentColorDark: #D4C17F;
$textColorDark: white;
$footerBgDark: #2D343C;
$placeholderDark: #BEBEBE;
$privacyDark: #E7E7E7;

// COLORS LIGHT MODE //
$backgroundColorLight: #b2a394;
$accentColorLight: #a67c52;
$textColorLight: #3c3c3c;
$footerBgLight: #998a7b;
$placeholderLight: #766556;
$privacyLight: #645547;

// FONTS //
$accentFont: 'Times New Roman', Times, serif;

// BREAKPOINTS //
$tablet: 768px;
$laptop: 1024px;
