.feedback {
    padding-bottom: 180px;

    .feedback-title {
        margin-bottom: 38px;
    }

    .feedback-form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        align-items: center;

        @include mediaLaptop{
            grid-template-columns: 1fr;
        }
    }
}