.work {
    margin-bottom: 80px;
    position: relative;

    &::before {
        content: "III";
        right: 80%;

        @include decorNumber;
    }
}

.photo-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .card {
        overflow: hidden;
        display: inline-block;
        position: relative;
        color: var(--textColor);

        &::before {
            content: "";
            position: absolute;
            z-index: 6;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg, 
                rgba(36, 43, 51, 0) 0%, 
                var(--footerBg) 100%);
        }

        &::after {
            opacity: 0;
            content: "";

            position: absolute;
            z-index: 7;
            left: 15px;
            top: 15px;
            right: 15px;
            bottom: 15px;

            border: 3px double rgba(255, 255, 255, 0.4);

            transition: opacity 0.2s ease-in;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .card-img {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 320px;
        transition: all 0.4s ease-in;

        &:hover {
            transform: scale(1.1);
        }
    }

    .card-title {
        position: absolute;
        z-index: 9;
        left: 50px;
        right: 20px;
        bottom: 40px;
        font-size: 24px;
    }
}

.card:hover .card-img{
    transform: scale(1.1);
    filter: contrast(110%) brightness(1.2) saturate(1.2);
}

@include mediaLaptop{
    .photo-cards{
        grid-template-columns: 1fr;
    }
}